<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new cat</title>
</head>
<body>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
<p>Add cat:</p>
<form action="#" th:object="${cat}" th:action="@{/addCat}" method="POST">
    <div>
        <label>Name</label>
        <input th:field="*{name}" type="input" name="name" required>
    </div>
    <div>
        <label>Age</label>
        <input th:field="*{age}" type="input" name="age" required>
    </div>
    <div>
        <label>Color</label>
        <input th:field="*{color}" type="input" name="color" required>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>