<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
</head>
<body>
    <p>Cats:</p>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Color</th>
        </thead>
        <tbody>
            <tr id="record" th:each="cat : ${cats}">
                <td id="id" th:text="${cat.catID}"></td>
                <td id="name" th:text="${cat.name}"></td>
                <td id="age" th:text="${cat.age}"></td>
                <td id="color" th:text="${cat.color}"></td>
                <td>
                    <a th:href="@{'/updateCat/' + ${cat.catID}}">Edit</a>
                    <a th:href="@{'/deleteCat/' + ${cat.catID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
<a th:href="@{/addCat}">Add Cat</a>
</body>
</html>